@font-face {
    font-family: "josefinsans-bold";
    src: url('../fonts/JosefinSans-Bold.ttf');
}

*{
    font-family: "josefinsans-bold";
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.btn{
    outline: unset !important;
    box-shadow: unset !important;
}

body, html{
    overflow-x: hidden;
}


/* desktop stylings */
section{
    min-height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}


/* section1 */

.section-1{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url("../img/desktop/1.jpg");
}

.title{
    font-size: 70px;
}




/* we are */
.we-are{
    background-color: #1D2234;
}

.big{
    font-size: 100px;
    line-height: 1;
}
.fs-25{
    font-size: 25px;
}

/* section 7*/

.container.position-absolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100% !important;
    max-width: 100% !important;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* section 8 */
.section-8{
    background-image: url("../img/desktop/8.jpg");
}

/* section 9 */
.section-9{
    background-color: #FF00FF;
    padding-top: 45vh;
}
.name{
    font-size: 40px;
}


/* we do */
.we-do{
    background-color: #FFFFD8;
}

/* we like */
.we-like{
    background-color: #1D2234;
}

/* contact */
.contact{
    background-image: url("../img/desktop/9.jpg");
}